RewriteEngine On

RewriteRule ^login\.html$ login.php [QSA,L]
RewriteRule ^index\.html$ index.php [QSA,L]
RewriteRule ^settings\.html$ settings.php [QSA,L]
RewriteRule ^staffs\.html$ staffs.php [QSA,L]
RewriteRule ^search\.html$ search.php [QSA,L]
RewriteRule ^setting\.html$ setting.php [QSA,L]
RewriteRule ^groups\.html$ groups.php [QSA,L]
RewriteRule ^logs\.html$ logs.php [QSA,L]
RewriteRule ^cities\.html$ cities.php [QSA,L]
RewriteRule ^governorates\.html$ governorates.php [QSA,L]

RewriteRule ^country\.html$ country.php [QSA,L]
RewriteRule ^users\.html$ users.php [QSA,L]
RewriteRule ^chats\.html$ chats.php [QSA,L]
RewriteRule ^complains\.html$ complains.php [QSA,L]
RewriteRule ^categories\.html$ categories.php [QSA,L]
