RewriteEngine On

RewriteRule ^login\.html$ login.php [QSA,L]
RewriteRule ^index\.html$ index.php [QSA,L]
RewriteRule ^settings\.html$ settings.php [QSA,L]
RewriteRule ^locations\.html$ locations.php [QSA,L]
RewriteRule ^daily_working\.html$ daily_working.php [QSA,L]
RewriteRule ^staffs\.html$ staffs.php [QSA,L]
RewriteRule ^search\.html$ search.php [QSA,L]
RewriteRule ^setting\.html$ setting.php [QSA,L]
RewriteRule ^contact_us\.html$ contact_us.php [QSA,L]
RewriteRule ^work_day\.html$ work_day.php [QSA,L]
RewriteRule ^groups\.html$ groups.php [QSA,L]
RewriteRule ^logs\.html$ logs.php [QSA,L]
RewriteRule ^cities\.html$ cities.php [QSA,L]
RewriteRule ^clients\.html$ clients.php [QSA,L]
RewriteRule ^reps\.html$ reps.php [QSA,L]
RewriteRule ^cron\.html$ cron.php [QSA,L]
RewriteRule ^governorates\.html$ governorates.php [QSA,L]
RewriteRule ^reps\.html$ reps.php [QSA,L]
RewriteRule ^jobs\.html$ jobs.php [QSA,L]
RewriteRule ^categories\.html$ categories.php [QSA,L]
RewriteRule ^products\.html$ products.php [QSA,L]
RewriteRule ^clients\.html$ clients.php [QSA,L]
RewriteRule ^orders\.html$ orders.php [QSA,L]
RewriteRule ^add_daily_working\.html$ add_daily_working.php [QSA,L]
RewriteRule ^client_problems\.html$ client_problems.php [QSA,L]
RewriteRule ^cron\.html$ cron.php [QSA,L]
RewriteRule ^returns_products\.html$ returns_products.php [QSA,L]
RewriteRule ^installments\.html$ installments.php [QSA,L]
RewriteRule ^appointment\.html$ appointment.php [QSA,L]
RewriteRule ^offers\.html$ offers.php [QSA,L]
RewriteRule ^news\.html$ news.php [QSA,L]
RewriteRule ^messages\.html$ messages.php [QSA,L]
RewriteRule ^invitation\.html$ invitation.php [QSA,L]
RewriteRule ^return_status\.html$ return_status.php [QSA,L]
RewriteRule ^notifications\.html$ notifications.php [QSA,L]
RewriteRule ^work_day\.html$ work_day.php [QSA,L]
RewriteRule ^supervisors\.html$ supervisors.php [QSA,L]
RewriteRule ^suppliers\.html$ suppliers.php [QSA,L]
RewriteRule ^reports\.html$ reports.php [QSA,L]
RewriteRule ^report\.html$ report.php [QSA,L]
RewriteRule ^country\.html$ country.php [QSA,L]
